.vscode
a.out
*.o
EXEC
*/*/megaphone
*/*/phone_book
*/*/global_banksters
*/*/zombie
*/*/zombie_horde
*/*/brain
*/*/violence
*/*/my_sed
*/*/harl
*/*/HarlFilter
*/*/claptrap
*/*/scavtrap
*/*/fragtrap
*/*/diamondtrap