.vscode
a.out
*.o
EXEC
*/*/megaphone
*/*/phone_book
*/*/global_banksters
*/*/zombie
*/*/zombie_horde
*/*/brain
*/*/violence
*/*/my_sed
*/*/Harl
*/*/HarlFilter
*/*/claptrap
*/*/scavtrap
*/*/fragtrap
*/*/diamondtrap
*/*/animals
*/*/animals_with_brain
*/*/materia